<footer class="footer">
    <div class="container">
        <img src="img/logo.png" alt="">
        <div class="footer__menu">
            <a href="javascript:void(0)">О компании</a>
            <a href="javascript:void(0)">Преимущества</a>
            <a href="javascript:void(0)">Расчет сметы</a>
        </div>
    </div>
</footer>

<section class="copyright">
    <div class="container">© 2021 Кабель-ОК интернет магазин кабельно-проводниковой продукции</div>
</section>

<div class="backdrop">
    <div class="modal" data-modal="help">
        <div class="modal__content">
            <div class="modal__close"></div>
            <div class="modal__body">
                <div class="modal__title">Кабель, провод:</div>
                <a href="javascript:void(0)">Пв</a>
                <a href="javascript:void(0)">ВВГ</a>
                <a href="javascript:void(0)">ШВВП</a>
                <a href="javascript:void(0)">ПВС</a>
                <a href="javascript:void(0)">ТВ КАБЕЛЬ</a>
                <a href="javascript:void(0)">КАБЕЛИ СИГНАЛИЗАЦИИ И ИНТРЕНЕТ</a>
                <a href="javascript:void(0)">ПРОВОД СИП</a>
            </div>
        </div>
    </div>

    <div class="modal" data-modal="filter">
        <div class="modal__content">
            <div class="modal__close"></div>
            <div class="modal__body">
                <div class="catalog__sidebar">
                    <div class="catalog__title">Все для монтажа кабеля</div>
                    <div class="catalog__item">
                        <div class="catalog__item-title">Количество <br>
                            токопроводящих жил</div>
                        <div class="catalog__form">
                            <div class="form-group">
                                <input type="checkbox" id="c1">
                                <label for="c1">2</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" checked id="c2">
                                <label for="c2">3</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="c3">
                                <label for="c3">4</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="c4">
                                <label for="c4">5</label>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__item">
                        <div class="catalog__item-title">Материал токопроводящей <br>
                            жилы</div>
                        <div class="catalog__form">
                            <div class="form-group">
                                <input type="checkbox" id="c5">
                                <label for="c5">2</label>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__item">
                        <div class="catalog__item-title">Сечение токопроводящих <br>
                            жил, мм2</div>
                        <div class="catalog__form">
                            <div class="form-group">
                                <input type="checkbox" id="c6">
                                <label for="c6">1.5</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" checked id="c7">
                                <label for="c7">2.5</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="c8">
                                <label for="c8">4</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="c9">
                                <label for="c9">6</label>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__item">
                        <div class="catalog__item-title">Марка</div>
                        <div class="catalog__form">
                            <div class="form-group">
                                <input type="checkbox" id="c10">
                                <label for="c10">ВВГ-П нг</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" checked id="c11">
                                <label for="c11">ВВГ-П нгд</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="c12">
                                <label for="c12">ВВГнг</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>