<footer class="footer">
    <div class="container">
        <img src="img/logo.png" alt="">
        <div class="footer__menu">
            <a href="javascript:void(0)">О компании</a>
            <a href="javascript:void(0)">Преимущества</a>
            <a href="javascript:void(0)">Расчет сметы</a>
        </div>
    </div>
</footer>

<section class="copyright">
    <div class="container">© 2021 Кабель-ОК интернет магазин кабельно-проводниковой продукции</div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>