<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>

    <header class="header">
        <div class="container">
            <a href="/" class="header__logo"><img src="img/logo.png" alt=""></a>
            <div class="header__menu">
                <a href="javascript:void(0)">О компании</a>
                <a href="javascript:void(0)">Преимущества</a>
                <a href="javascript:void(0)">Расчет сметы</a>
            </div>
            <a href="tel:0976208484" class="header__phone"><img src="img/phone.svg" alt=""> 097 620 84 84</a>
            <a href="javascript:void(0)" class="header__order">Заказать звонок</a>
        </div>
    </header>