@charset 'UTF-8';
@import 'mixins';

$text: #333;
$orange: #ef7f1a;
$trans: all 0.2s ease-in-out;

// @include font-face('fontName', '../fonts/fontPath/fontName', normal);

::selection {
    // background: cyan;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $text;
    font-weight: 400;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

.orange {
    color: $orange;
}

img {
    max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

h1,
h2,
h3,
p,
ul {
    margin-top: 0;
}

button {
    background: transparent;
    border: 0;
}

h3 {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-bottom: 9px;
}

input[type='checkbox'] {
    display: none;

    & + label {
        @include r(374) {
            font-size: 12px;
        }

        position: relative;
        padding-left: 26px;
        user-select: none;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 18px;
            height: 18px;
            background: #ffffff;
            border: 1px solid #008dd2;
        }
    }

    &:checked + label::before {
        background: url('../img/check.svg') no-repeat center $orange;
        background-size: 12px;
    }
}

.btn,
input,
textarea,
select,
button:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    @include r(767) {
        font-size: 16px;
        padding: 15px 40px;
    }

    display: inline-block;
    transition: $trans;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    user-select: none;
    background: $orange;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 50px;

    &:focus {
        outline: none;
    }

    &:hover {
        box-shadow: 0 11px 4px -8px rgba(#000, 0.3);
    }

    &-outline {
        background: transparent;
        border: 2px solid #fabf8a;
        color: #fabf8a;

        &:hover {
            background: #fabf8a;
            color: $text;
            box-shadow: none;
        }
    }

    &-gray {
        background: #47505f;
        color: #fff;
    }

    &.center {
        @include centerX;
    }
}

.container {
    @include r(1410) {
        padding: 0 15px;
    }

    margin: 0 auto;
    max-width: 1380px;
}

.container-sm {
    @include r(1279) {
        table {
            margin-left: 0 !important;
            width: 100% !important;
        }
    }

    @include r(1023) {
        width: 100%;
        padding: 0 15px;
    }

    margin: 0 auto;
    max-width: 910px;
}

.header {
    @include r(1023) {
        padding: 0 0 9px;
    }

    @include r(767) {
        padding-bottom: 30px;
    }

    padding: 20px 0 29px;

    .container {
        @include fcs;
    }

    &__logo {
        @include r(1279) {
            width: 200px;
            margin-right: 10px;
        }

        @include r(1023) {
            width: 150px;
            margin-right: 20px;
        }

        @include r(767) {
            width: 139px;
        }

        @include r(374) {
            width: 100px;
        }

        margin-right: 57px;
    }

    &__menu {
        @include r(767) {
            position: absolute;
            top: 54px;
            left: 0;
            width: 100%;
            @include fcc;
        }

        @include fcn;
        margin-top: 16px;

        a {
            @include r(1279) {
                margin: 0 15px;
            }

            @include r(1023) {
                margin: 0 5px;
                font-size: 14px;
            }

            @include r(767) {
                margin: 0 10px;
            }

            @include r(374) {
                font-size: 12px;
            }

            font-size: 16px;
            color: #4f4f4f;
            margin: 0 31px;
            transition: $trans;

            &:hover {
                color: $orange;
            }
        }
    }

    &__phone {
        @include r(1023) {
            width: 18px;
            color: transparent;
        }

        @include r(767) {
            margin-top: 0;
        }

        margin-left: auto;
        @include fcn;
        font-size: 16px;
        transition: $trans;
        margin-top: 16px;

        &:hover {
            @include r(1023) {
                color: transparent;
            }

            color: $orange;
        }

        img {
            margin-right: 10px;
        }
    }

    &__order {
        @include r(767) {
            font-size: 14px;
            margin-top: 0;
        }

        @include r(374) {
            font-size: 12px;
        }

        color: $orange;
        text-decoration: underline;
        font-size: 16px;
        margin-left: 18px;
        margin-top: 16px;

        &:hover {
            text-decoration: none;
        }
    }
}

.main {
    @include r(1345) {
        background: url('../img/main.jpg') no-repeat 60% center;
    }

    @include r(1279) {
        background: url('../img/main.jpg') no-repeat 40% center;
    }

    @include r(1023) {
        height: auto;
        background: transparent;
    }

    background: url('../img/main.jpg') no-repeat right center;
    background-size: cover;
    height: 577px;

    .container {
        @include r(1023) {
            display: block;
        }

        @include fssb;
    }

    &__col {
        &:first-child {
            @include r(1700) {
                width: 50%;
            }

            @include r(1450) {
                width: 40%;
            }

            @include r(1345) {
                width: 50%;
            }

            @include r(1279) {
                width: 60%;
            }

            @include r(1023) {
                background: #47505f;
                width: calc(100% + 30px);
                padding: 30px 15px;
                margin-left: -15px;
                overflow: hidden;
            }

            width: 55%;
        }

        &:last-child {
            @include r(1700) {
                width: 50%;
            }

            @include r(1450) {
                width: 60%;
            }

            @include r(1345) {
                width: 50%;
            }

            @include r(1279) {
                width: 40%;
            }

            @include r(1023) {
                width: 100%;
                display: inline-block;
                margin: 0 auto;
                text-align: center;
            }

            width: 45%;
        }

        img {
            @include r(1023) {
                margin: 30px auto;
            }

            @include r(767) {
                width: 200px;
            }

            display: block;
            margin-bottom: 60px;
        }
    }

    &__title {
        @include r(1023) {
            margin-top: 0;
        }

        @include r(767) {
            font-size: 20px;

            br {
                display: none;
            }
        }

        @include r(374) {
            font-size: 18px;
        }

        font-weight: 500;
        font-size: 24px;
        line-height: 1.25;
        color: #fabf8a;
        margin-bottom: 30px;
        margin-top: 43px;
    }

    &__info {
        color: #fff;

        & > span {
            @include r(374) {
                font-size: 14px;
                margin-bottom: 5px;
            }

            font-size: 18px;
            display: block;
        }
    }

    &__item {
        @include r(767) {
            width: 100%;
        }

        @include fcn;
        min-height: 27px;

        .form-group {
            min-width: 130px;
        }
    }

    &__desc {
        @include fcn;
        margin-left: 5px;

        span {
            background: #e0e0e0;
            width: 70px;
            @include fcc;
            color: $text;
            flex-shrink: 0;
            margin-right: 5px;
            margin-bottom: 0;
            padding: 2px 0;
        }
    }

    &__divider {
        @include r(1023) {
            width: 100%;
        }

        background: #fabf8a;
        height: 2px;
        width: 834px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .divider {
        @include r(1023) {
            display: none;
        }

        height: 2px;
        background: #fabf8a;
        width: 260px;
        margin-bottom: 39px;
        margin-top: 64px;
    }

    &__text {
        @include r(767) {
            br {
                display: none;
            }
        }

        line-height: 1.43;
    }

    .btn-outline {
        margin-top: 18px;
    }
}

.order {
    @include r(1023) {
        padding-top: 30px;

        & + .catalog {
            display: none;
        }
    }

    padding: 70px 0;

    &__wrap {
        @include r(1023) {
            font-size: 14px;

            br {
                display: none;
            }
        }

        @include r(767) {
            display: block;
            padding-top: 20px;
        }

        border-top: 2px solid $orange;
        border-bottom: 2px solid $orange;
        @include fcsb;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;

        div {
            @include r(1023) {
                padding: 5px 0;
            }

            margin-right: 10px;
        }

        .btn {
            @include r(1023) {
                flex-shrink: 0;
                padding: 20px 50px;
            }

            @include r(767) {
                padding-left: 0;
                padding-right: 0;
                width: 100%;
                @include fcc;
                margin-top: 20px;
            }

            border: 2px solid $orange;
            margin-top: -2px;
            margin-bottom: -2px;

            &:hover {
                background: transparent;
                color: $orange;
                box-shadow: none;
            }
        }
    }
}

.catalog {
    & + .catalog__list {
        @include r(1023) {
            display: flex;
            margin: 0 5px 20px;
        }

        display: none;
    }

    table {
        @include r(1279) {
            margin-left: -36%;
            width: 137%;
        }

        @include r(1023) {
            display: none;

            & + .catalog__print {
                display: none;
            }
        }

        width: 100%;
        border-collapse: collapse;

        th,
        td {
            border: 2px solid #fff;
        }

        th {
            background: #47505f;
            color: #fff;
            font-weight: 400;
            padding: 9px 15px;
        }

        td {
            @include r(1345) {
                br {
                    display: none;
                }
            }

            background: #f2f2f2;
            padding: 17px 12px;
            position: relative;

            &:nth-child(1),
            &:nth-child(4),
            &:nth-child(6),
            &:nth-child(7) {
                text-align: center;
            }

            &:nth-child(2) {
                background: #fff;
                text-align: center;
            }

            a {
                display: block;
                width: 19px;
                white-space: nowrap;

                img {
                    width: 19px;
                }

                &.link {
                    text-decoration: underline;
                    margin-top: 5px;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            .btn {
                margin-top: 0;
                margin-bottom: 0;
                font-weight: 400;
                font-size: 14px;
                padding: 12px 0;
                @include fcc;
                width: 100%;
            }
        }
    }

    .btn {
        margin-top: 29px;
        margin-bottom: 50px;
        @include centerX;
        display: inline-flex;
        align-items: center;

        img {
            margin-left: 10px;
        }
    }
}

.counter {
    @include fcc;
    user-select: none;

    input {
        width: 84px;
        text-align: center;
        background: #fff;
        color: #828282;
        font-weight: 500;
        border: 0;
        height: 24px;
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
    }

    &__control {
        width: 24px;
        height: 24px;
        @include fcc;
        cursor: pointer;
        margin-bottom: -1px;
        margin-top: -1px;
        transition: $trans;
        background: #e0e0e0;

        &:hover {
            background: $orange;
        }

        &.minus {
            margin-left: -1px;
        }

        &.plus {
            margin-right: -1px;
        }
    }
}

.total {
    &__wrap {
        background: #f2f2f2;
        @include fcsb;
        padding: 15px 20px;
    }

    &__item {
        display: flex;
        flex-direction: column;

        div {
            font-weight: 600;
        }

        strong {
            margin-top: 5px;
        }

        &:last-child {
            text-align: right;

            strong {
                font-size: 18px;
            }
        }
    }

    &__controls {
        @include r(767) {
            display: block;

            .btn {
                padding-left: 0;
                padding-right: 0;
                width: 100%;
                @include fcc;
                margin-bottom: 10px;
            }
        }

        @include fce;
        margin-top: 28px;

        .btn-gray {
            margin-right: 22px;
        }
    }

    &__links {
        @include fec;
        flex-direction: column;
        margin-top: 35px;

        a {
            @include fcn;
            font-weight: 500;

            &:hover span {
                text-decoration: none;
            }

            img {
                margin-left: 16px;
            }

            span {
                @include r(767) {
                    font-size: 16px;
                }

                font-size: 18px;
                text-decoration: underline;
            }
        }
    }

    &__social {
        @include fcn;
        margin-top: 28px;

        span {
            @include r(767) {
                font-size: 16px;
            }

            font-size: 18px;
        }

        a {
            transition: $trans;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.footer {
    @include r(767) {
        margin-top: 50px;
    }

    margin-top: 85px;

    img {
        @include r(1279) {
            width: 200px;
        }

        @include r(1023) {
            width: 150px;
        }

        @include r(767) {
            display: none;
        }
    }

    .container {
        @include r(1410) {
            padding: 30px 15px;
        }

        border-top: 1px solid #c4c4c4;
        border-bottom: 1px solid #c4c4c4;
        padding: 30px 0;
        @include fcsb;
    }

    &__menu {
        @include r(767) {
            @include fcc;
            width: 100%;
        }

        @include r(374) {
            @include fcsb;
        }

        a {
            @include r(767) {
                margin: 0 7px;
                font-size: 14px;
            }

            @include r(374) {
                font-size: 12px;
                margin: 0;
            }

            font-size: 16px;
            margin-left: 49px;
            transition: $trans;

            &:hover {
                color: $orange;
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.copyright {
    @include r(767) {
        font-size: 12px;
        line-height: 1.2;
    }

    text-align: center;
    padding: 20px 0;
    font-weight: 300;
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(#47505f, 0.92);
    opacity: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    transition: $trans;

    &.active {
        opacity: 1;
        z-index: 30;
    }
}

.modal {
    @include r(767) {
        width: 100%;
        margin: 0 15px;
        overflow: scroll;
    }

    display: none;
    opacity: 0;
    background: #fff;
    cursor: default;
    position: relative;
    width: 440px;
    max-height: 90vh;
    max-width: 95%;

    &.active {
        display: block;
        opacity: 1;
    }

    &[data-modal='filter'] {
        width: 290px;

        .catalog__sidebar {
            display: block;
            width: 100%;
        }

        .modal__body {
            padding: 15px 20px;
        }

        .catalog__item-title {
            font-size: 16px;

            br {
                display: none;
            }
        }
    }

    &__body {
        position: relative;
        padding: 71px 69px 24px;

        a {
            width: 100%;
            height: 38px;
            @include fcc;
            background: #f2f2f2;
            border: 1px solid #bdbdbd;
            transition: $trans;
            margin-bottom: 10px;

            &:hover {
                background: $orange;
                color: #fff;
                border-color: $orange;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        position: relative;
        position: absolute;
        top: 14px;
        left: 14px;

        &::before {
            content: '';
            position: absolute;
            bottom: -5px;
            right: 0;
            width: 130%;
            height: 2px;
            background: $orange;
        }
    }

    &__close {
        position: absolute;
        right: 15px;
        top: 13px;
        width: 23px;
        height: 23px;
        cursor: pointer;
        transition: $trans;
        z-index: 2;

        &:hover {
            &::before,
            &::after {
                background: $text;
            }
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 2px;
            height: 100%;
            background: rgba(0, 0, 0, 0.28);
            transition: $trans;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}

.breadcrumbs {
    @include r(767) {
        font-size: 12px;
    }

    background: #47505f;
    padding: 10px 0;
    color: #fff;
}

.catalog {
    padding: 28px 0;

    .container {
        @include fssb;
    }

    &__sidebar {
        @include r(1023) {
            display: none;
        }

        width: 26%;
        padding-right: 10px;
    }

    &__main {
        @include r(1023) {
            width: 100%;
        }

        width: 74%;
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.22;
        position: relative;
        display: inline-block;
        margin-bottom: 32px;

        &::before {
            content: '';
            position: absolute;
            bottom: -8px;
            right: 40%;
            width: 70%;
            height: 2px;
            background: $orange;
        }
    }

    &__item {
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }

        &-title {
            font-weight: 700;
            font-size: 18px;
            line-height: 1.22;
            margin-bottom: 10px;
        }

        .form-group {
            height: 18px;
            margin-bottom: 7px;
        }

        label {
            font-weight: 400;
            padding-left: 30px !important;
        }
    }

    &__sort {
        width: 100%;
        @include fcsb;
        margin-top: -9px;
        margin-bottom: 22px;

        a {
            @include r(1023) {
                font-size: 16px;
            }

            @include r(767) {
                display: none;
            }

            font-size: 18px;
            text-decoration: underline;
            flex-shrink: 0;

            &:hover {
                text-decoration: none;
            }
        }

        & > div {
            @include fce;
            width: 100%;
        }

        select {
            background: #f2f2f2;
            border: 1px solid #bdbdbd;
            height: 38px;
            padding: 8px 21px;
            appearance: none;
            width: 100%;
        }
    }

    .select {
        @include r(767) {
            margin-right: 0;

            & + .catalog__icon {
                margin-left: auto;
            }
        }

        @include r(374) {
            width: 100%;
            margin-right: 10px;
        }

        position: relative;
        width: 235px;
        margin-right: 30px;

        &::before {
            content: '';
            @include centerYa;
            right: 12px;
            background: url(../img/arrow-bottom.svg) no-repeat center;
            background-size: contain;
            width: 9px;
            height: 20px;
            pointer-events: none;
            user-select: none;
        }
    }

    &__icon {
        @include fcc;
        cursor: pointer;
        margin-left: 11px;

        &.active,
        &:hover {
            svg path {
                fill: #546785;
            }
        }

        svg path {
            fill: #bdbdbd;
            transition: $trans;
        }
    }

    &__list {
        @include r(1279) {
            @include flexlist(10px);
        }

        @include r(767) {
            @include flexlist(1px);
        }

        @include flexlist(15px);

        h3 {
            width: 100%;
        }
    }

    .filter {
        @include r(1023) {
            display: block;
            margin-bottom: 15px;
            width: 100%;
            @include fcc;
            padding-top: 10px;
            padding-bottom: 10px;
            font-weight: 500;
        }

        display: none;
    }

    &__img {
        @include r(1279) {
            height: 185px;
        }

        @include r(767) {
            height: 250px;
        }

        height: 231px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: relative;
        margin-bottom: 10px;
    }

    &__tags {
        position: absolute;
        bottom: 0;
        left: 0;
        @include fsn;
        flex-direction: column;

        span {
            @include r(1279) {
                font-size: 10px;
                margin-bottom: 5px;
            }

            color: #fff;
            padding: 5px 10px;
            margin-bottom: 10px;
            display: inline-block;
            font-size: 12px;

            &:last-child {
                margin-bottom: 0;
            }

            &.green {
                background: #03d003;
            }

            &.yellow {
                background: #ffc002;
            }

            &.red {
                background: #f71414;
            }
        }
    }

    &__code {
        @include fcn;
        color: #828282;
        margin-bottom: 11px;

        span {
            margin-left: 13px;
        }
    }

    &__features {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 22px;
    }

    &__bottom {
        @include fcsb;

        span {
            color: #828282;
        }

        a {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__print {
        @include r(1023) {
            margin-bottom: 0;
        }

        @include r(767) {
            display: block;
        }

        @include fce;
        margin-top: 25px;
        margin-bottom: 57px;

        .btn {
            @include r(767) {
                padding-left: 0;
                padding-right: 0;
                @include fcc;
                width: 100%;
                margin-bottom: 15px;
            }

            transform: none;
            left: 0;
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 47px;
        }

        a:not(.btn) {
            @include r(767) {
                @include fcc;
            }

            @include fcn;
            font-size: 18px;

            &:hover {
                span {
                    text-decoration: none;
                }
            }

            span {
                text-decoration: underline;
            }

            img {
                margin-left: 10px;
            }
        }
    }
}

.item {
    @include r(1279) {
        @include flexitem(33.33%, 10px);
    }

    @include r(767) {
        @include flexitem(100%, 1px);
        max-width: 450px;
        margin: 0 auto 20px;
    }

    @include flexitem(33.33%, 15px);
    border: 1px solid #bdbdbd;
    padding: 0 16px 24px;

    .catalog__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.43;
        margin-bottom: 11px;
        @include fcn;

        &::before {
            display: none;
        }
    }

    .counter {
        @include fcs;

        input {
            height: 45px;
        }

        &__control {
            width: 45px;
            height: 45px;

            img {
                width: 14px;
            }
        }
    }

    .btn {
        @include r(1279) {
            padding-top: 14px;
            padding-bottom: 14px;
        }

        width: 100%;
        padding-left: 0;
        padding-right: 0;
        @include fcc;
        margin-bottom: 23px;
        margin-top: 24px;
    }
}
