@charset 'UTF-8';
@import 'mixins';

$text: #333;
$orange: #ef7f1a;
$trans: all 0.2s ease-in-out;

// @include font-face('fontName', '../fonts/fontPath/fontName', normal);

::selection {
    // background: cyan;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $text;
    font-weight: 400;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

.orange {
    color: $orange;
}

img {
    max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

h1,
h2,
h3,
p,
ul {
    margin-top: 0;
}

button {
    background: transparent;
    border: 0;
}

h3 {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-bottom: 9px;
}

input[type='checkbox'] {
    display: none;

    & + label {
        position: relative;
        padding-left: 26px;
        user-select: none;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 18px;
            height: 18px;
            background: #ffffff;
            border: 1px solid #008dd2;
        }
    }

    &:checked + label::before {
        background: url('../img/check.svg') no-repeat center $orange;
        background-size: 12px;
    }
}

.btn,
input,
textarea,
select,
button:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: inline-block;
    transition: $trans;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    user-select: none;
    background: $orange;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 50px;

    &:focus {
        outline: none;
    }

    &:hover {
        box-shadow: 0 11px 4px -8px rgba(#000, 0.3);
    }

    &-outline {
        background: transparent;
        border: 2px solid #fabf8a;
        color: #fabf8a;

        &:hover {
            background: #fabf8a;
            color: $text;
            box-shadow: none;
        }
    }

    &-gray {
        background: #47505f;
        color: #fff;
    }

    &.center {
        @include centerX;
    }
}

.container {
    @include r(1410) {
        padding: 0 15px;
    }

    margin: 0 auto;
    max-width: 1380px;
}

.container-sm {
    margin: 0 auto;
    max-width: 910px;
}

.header {
    padding: 20px 0 29px;

    .container {
        @include fcs;
    }

    &__logo {
        margin-right: 57px;
    }

    &__menu {
        @include fcn;
        margin-top: 16px;

        a {
            font-size: 16px;
            color: #4f4f4f;
            margin: 0 31px;
            transition: $trans;

            &:hover {
                color: $orange;
            }
        }
    }

    &__phone {
        margin-left: auto;
        @include fcn;
        font-size: 16px;
        transition: $trans;
        margin-top: 16px;

        &:hover {
            color: $orange;
        }

        img {
            margin-right: 10px;
        }
    }

    &__order {
        color: $orange;
        text-decoration: underline;
        font-size: 16px;
        margin-left: 18px;
        margin-top: 16px;

        &:hover {
            text-decoration: none;
        }
    }
}

.main {
    background: url('../img/main.jpg') no-repeat right center;
    background-size: cover;
    height: 577px;

    .container {
        @include fssb;
    }

    &__col {
        &:first-child {
            width: 55%;
        }

        &:last-child {
            width: 45%;
        }

        img {
            display: block;
            margin-bottom: 60px;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.25;
        color: #fabf8a;
        margin-bottom: 30px;
        margin-top: 43px;
    }

    &__info {
        color: #fff;

        & > span {
            font-size: 18px;
            display: block;
        }
    }

    &__item {
        @include fcn;
        min-height: 27px;

        .form-group {
            min-width: 130px;
        }
    }

    &__desc {
        @include fcn;
        margin-left: 5px;

        span {
            background: #e0e0e0;
            width: 70px;
            @include fcc;
            color: $text;
            flex-shrink: 0;
            margin-right: 5px;
            margin-bottom: 0;
            padding: 2px 0;
        }
    }

    &__divider {
        background: #fabf8a;
        height: 2px;
        width: 834px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .divider {
        height: 2px;
        background: #fabf8a;
        width: 260px;
        margin-bottom: 39px;
        margin-top: 64px;
    }

    &__text {
        line-height: 1.43;
    }

    .btn-outline {
        margin-top: 18px;
    }
}

.order {
    padding: 70px 0;

    &__wrap {
        border-top: 2px solid $orange;
        border-bottom: 2px solid $orange;
        @include fcsb;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;

        div {
            margin-right: 10px;
        }

        .btn {
            border: 2px solid $orange;
            margin-top: -2px;
            margin-bottom: -2px;

            &:hover {
                background: transparent;
                color: $orange;
                box-shadow: none;
            }
        }
    }
}

.catalog {
    table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
            border: 2px solid #fff;
        }

        th {
            background: #47505f;
            color: #fff;
            font-weight: 400;
            padding: 9px 15px;
        }

        td {
            background: #f2f2f2;
            padding: 17px 12px;

            &:nth-child(1),
            &:nth-child(4),
            &:nth-child(6),
            &:nth-child(7) {
                text-align: center;
            }

            &:nth-child(2) {
                background: #fff;
                text-align: center;
            }

            a {
                display: block;

                img {
                    width: 19px;
                }
            }
        }
    }

    .btn {
        margin-top: 29px;
        margin-bottom: 50px;
        @include centerX;
        display: inline-flex;
        align-items: center;

        img {
            margin-left: 10px;
        }
    }
}

.counter {
    @include fcc;
    user-select: none;

    input {
        width: 84px;
        text-align: center;
        background: #fff;
        color: #828282;
        font-weight: 500;
        border: 0;
        height: 24px;
    }

    &__control {
        width: 24px;
        height: 24px;
        @include fcc;
        cursor: pointer;
        margin-bottom: -1px;
        margin-top: -1px;
        transition: $trans;
        background: #e0e0e0;

        &.minus {
            margin-left: -1px;
        }

        &.plus {
            margin-right: -1px;
        }
    }
}

.total {
    &__wrap {
        background: #f2f2f2;
        @include fcsb;
        padding: 15px 20px;
    }

    &__item {
        display: flex;
        flex-direction: column;

        div {
            font-weight: 600;
        }

        strong {
            margin-top: 5px;
        }

        &:last-child {
            text-align: right;

            strong {
                font-size: 18px;
            }
        }
    }

    &__controls {
        @include fce;
        margin-top: 28px;

        .btn-gray {
            margin-right: 22px;
        }
    }

    &__links {
        @include fec;
        flex-direction: column;
        margin-top: 35px;

        a {
            @include fcn;
            font-weight: 500;

            &:hover span {
                text-decoration: none;
            }

            img {
                margin-left: 16px;
            }

            span {
                font-size: 18px;
                text-decoration: underline;
            }
        }
    }

    &__social {
        @include fcn;
        margin-top: 28px;

        span {
            font-size: 18px;
        }

        a {
            transition: $trans;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.footer {
    margin-top: 85px;

    .container {
        border-top: 1px solid #c4c4c4;
        border-bottom: 1px solid #c4c4c4;
        padding: 30px 0;
        @include fcsb;
    }

    &__menu {
        a {
            font-size: 16px;
            margin-left: 49px;
            transition: $trans;

            &:hover {
                color: $orange;
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.copyright {
    text-align: center;
    padding: 20px 0;
    font-weight: 300;
}
